*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header{
  /* background-color: #000; */
  background-image: url(./images/logo2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  /* list-style-type: none; */
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;

}
ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li.home a{
  background-color: #fff;
  color: #000;
}
ul li.login a{
  background-color: #fff;
  color: #000;
}
ul li.services a{
  background-color: #fff;
  color: #000;
}
ul li.aboutus a{
  background-color: #fff;
  color: #000;
}
ul li.contactus a{
  background-color: #fff;
  color: #000;
}
ul li.register a{
  background-color: #fff;
  color: #000;
}

.logo img{
  background-image: url(./images/whitemerit.png);
  background-repeat: no-repeat;
  background-size: 250px ;
  float: left;
  width: 315px;
  height: 80px;
}
.main{
  max-width: 2000px;
  margin: auto;
}
.title{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: #fff;
  font-size: 70px;
}
.title h2{
  left: 70%;
  color: #fff;
  font-size: 25px;
}
.button {
  position: absolute;
  top: 54.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover{
  background-color: #fff;
  color: #000;
}
.empty-search {
text-align: center;
text-transform: capitalize;
margin: 2rem 0;
padding: 1rem;
letter-spacing: var(--mainSpacing);
}
/* end of globals */

/*LOGIN/PERSONAL*/
.loginbox{
  width: 300px;
  height: 400px;
  background: #3294bc;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding:70px 30px;
}
.avatar{
  background-image: url(./images/avatar.png);
  background-repeat: no-repeat;
  background-size: 100px ;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left:calc(50%-50px);
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;

}

.loginbox input[type ="text"], input[type="username"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="button"]{
  border: none;
  outline: none;
  height: 40px;
  background: #86c5da;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="button"]:hover{
  cursor: pointer;
  background: #ade6bb;
  color: #000;

}
.loginbox a{
  text-decoration: none;
  font-size:12px;
  line-height: 20px;
  color: darkblue ;
}
.loginbox a:hover{
  color: #ade6bb;
}
/*END LOGIN/PERSONAL*/

/*SERVICES*/
.services-section{
  width: 1000px;
  height: 700px;
  /* background-color: #3294bc; */
  background-color: rgba(50,148,188,0.7);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-55%);
  padding:0 0px;
}

.inner-width{
  width: 100%;
  max-width: 1000;
  margin: auto;
  padding: 50px 1px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  /*font-size: 30px; WE CAN DO WITHOUT*/
}

.border{
  width: 500px;
  height: 2px;
  background: #fff;
  margin: 30px;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 30.33%;
  padding:15px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  color: #fff;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #bee5ed;
  color: #fff;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}
.service-desc{
  font-size:12px;
}
/*END SERVICES*/

/*ABOUT US*/
.team-section{
  overflow: hidden;
  text-align: center;
  padding: 60px;
  /* background: #3294bc; */
  background-color: rgba(50,148,188,0.7);
  width: 900px;
  height: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-55%);
  padding:0 0px;
}
.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;

}
.border{
  display: block;
  margin: auto;
  width: 160px auto;
  height: 3px;
  background: #fff;
  margin-bottom: 40px;
}
.ps{
  margin-bottom: 40px;

}

.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover >img{
  filter: none;
}
.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.section:target{
  height: auto;
}
.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.section p{
  text-align: center;
}
/*END OF ABOUT US*/

/*CONTACT US*/
.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}
#contact-section{
  background: rgba(50,148,188,0.7);
  /* background: #3294bc;*/ /*linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9), url(...)) in case you want to use image*/
  overflow: hidden;
  text-align: center;
  padding: 60px;
  /* background: #3294bc; */
  width: 900px;
  height: 600px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-55%);
  padding:0 0px;
}
#contact-section .container h2{
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 5%;
  color: rgb(238,235,235);
  letter-spacing: 2px;
}
#contact-section .container p{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  color: #fff;
  letter-spacing: 10px;
}
.contact-form i.fa{
  font-size: 22px;
  padding: 1%;
  background-color: none;
  margin: 1%;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid rgb(190,190,190);
  color: rgb(190,190,190);
}
.contact-form i.fa:hover{
  curser: pointer;
  border: 2px solid #fff;
  color: #fff;
}
.contact-form{
  display: grid;
  grid-template-columns: auto auto;
}
.form-info{
  font-size: 16px;
  font-style: italic;
  color: #fff;
  letter-spacing: 2px;
}
input{
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136,133,133,.5);
  color: #fff;
  border: none;
  outline: none;

}
input::placeholder{
  color: #fff;

}
textarea{
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136,133,133,.5);
  color: #fff;
  border: none;
  outline: none;
}
textarea::placeholder{
  color: #fff;

}
.submit{
  width: 40%;
  background: none;
  padding: 4px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border: 2px solid rgb(190,190,190);
  color: rgb(190,190,190);
}
.submit:hover{
  border:1px solid #fff;
  color: #fff;
  cursor: pointer;
}

@media(max-width: 768px){
  #contact-section .contact-form{
    display: block;
    width: 100%;
    text-align: center;
  }
  #contact-sections .submit{
    width: 60%;
  }
}
/*END OF CONTACT US*/

/*REGISTER*/
.registercontainer{
  width: 90%;
  margin-top: 60px;
  overflow: hidden;
}
#register-section{
  background: rgba(50,148,188,0.7);
  /* background: #3294bc;*/ /*linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9), url(...)) in case you want to use image*/
  overflow: hidden;
  text-align: right;
  /* padding: 10px; */
  /* background: #3294bc; */
  width: 750px;
  height: 750px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-55%);
  padding:0px 60px;
}

#register-section .registercontainer label{
  text-align: right;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 3%; */
  color: #fff;
  /* letter-spacing: 10px; */
  font-size: 10px;
}
input{
  padding: 5px;
  margin: 10px;
  width: 80%;
  background-color: rgba(136,133,133,.5);
  color: #fff;
  border: none;
  outline: none;
  text-align: left;

}
input::placeholder{
  color: #fff;
  font-size: 12px;

}
button{
  width: 40%;
  background: none;
  padding: 3px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border: 2px solid rgb(190,190,190);
  color: rgb(190,190,190);
}
button:hover{
  background-color: #65b5d6;
  border:1px solid #fff;
  color: #fff;
  cursor: pointer;
}

@media(max-width: 768px){
  #register-section .register-form{
    display: block;
    width: 100%;
    text-align: center;
  }
  #register-section button{
    width: 100%;
  }
}
.btn-primary{
  width: 40%;
  background: none;
  padding: 5px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 22px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border: 2px solid rgb(190,190,190);
  color: rgb(190,190,190);
}
.btn-primary:hover{
  background-color: #65b5d6;
  border:1px solid #fff;
  color: #fff;
  cursor: pointer;
}
/* .btn-primary{
  font-size: 12px;
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
.btn-primary:hover{
  border:1px solid #fff;
  color: green;
  cursor: pointer;
} */
/* END REGISTER*/







































/* featured acct */

.featured-accounts {
  padding: 5rem 0;
}
.featured-accounts-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-accounts-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-accounts-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured acct */
/* acct */
.account {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.account:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.account-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.account-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of acct  */
/* checking account*/

.checking-account {
  padding: 5rem 0 0 0;
}
.checking-account-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.checking-account-images img {
  width: 100%;
  display: block;
}
.checking-account-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.account-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.account-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .checking-account-images,
  .checking-account-info,
  .account-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .checking-account-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.accountslist {
  padding: 5rem 0;
}
.accountslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .accountslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .accountslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/



/* account placard stuff */
.accountBox{
  
  background-image: url(./images/account_plac.png);
  background-repeat: no-repeat;
  background-size: 100%;

  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;

  
  
  width: 50%;
  height: auto;
  margin: auto;
}

.accountBox2{
  
  background-image: url(./images/account_plac2.png);
  background-repeat: no-repeat;
  background-size: 100%;

  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;

  height: auto;
  width: 50%;
  margin: auto;
}

.failBox{
  background-image: url(./images/fail_plac.png);
  background-repeat: no-repeat;
  background-size: 100%;

  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;

  height: auto;
  width: 50%;
  margin: auto;
}

.placTitle{
  text-align: left;
  font-size: larger;
}

.placMain{
  
  
  text-align: right;
}

/* temp stuff just to keep admin page buttons and text fields from being huge */
.adminTool{
  width: 10%;
  color: white;
}

.adminTool2{
  width: 20%;
  color: white;
}

#printout{
  width: 90%;
  height: 70%;
  
  background-image: url(./images/console_admin_tool_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  

  font-weight: 900;
  color: greenyellow;

  padding-left: 4%;
  padding-top: 2%;

  
}

.userBalance{
  color: green;
  font-size: 40pt;
}

.accountInterest{
  color: white;
  font-size: 20pt;
}

.userTrans{
  text-align: center;
}

.userTitle{
  text-align: center;
  font-size: 20pt;
}
